<div class="container">
    <div id="logo">
        <h1> My TV Remotes </h1>
    </div>
    <nav id="mynav">
        
        <ul>
            <li><a href="#">Home </a></li>
            <li><a href="#">TV List</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
</div>

